<mat-toolbar class="header-toolbar" color="primary" (window:resize)="onResize($event)">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" *ngIf="!isLeftmenu"
    mat-icon-button (click)="isLeftmenu=!isLeftmenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">My App</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="app-mat">
  <mat-drawer-container class="example-container">
    <mat-drawer position="start" [mode]="menumode" class="sidenav" [(opened)]="isLeftmenu"
      (mouseover)="isLeftmenuItemTitle=true" (mouseout)="isLeftmenuItemTitle=false">
      <mat-nav-list>
        <mat-list-item [routerLink]="item.itmeURL" *ngFor="let item of menudata">
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line [@openClose]="isLeftmenuItemTitle? true : false">{{item.itemtitle}}</h4>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
